.bar { 
    fill: steelblue; 
}
/* .tooltip {
    position: absolute;
    text-align: left;
    width: 200;
    height: 200;
    padding: 2px;
    font: 16px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
} */
.tooltip {
    opacity: 0;
    position: absolute;
    top: -4px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    /* text-align: center; */
    border: 1px solid #ccc;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
    text-align: left;
    border-radius: 5px;
}

path.hull {
    fill: lightsteelblue;
    fill-opacity: 0.3;
  }